<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EDMSConnectionString"
            connectionString="Data Source=.;Initial Catalog=udb_Document_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="fromEmail" value="netwar001@gmail.com" />
    <add key="passwordFromEmail" value="rtxaxlftrprwxamt" />
    <add key="mainTables" value="'sysdiagrams','Документы','Информация о таблицах','Шаблоны документов','Должности','Учетные записи','Связи документов','Подразделения','Номенклатура дел'" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>